
  <div class="login-container">
    <div class="overlay"></div>
    <div class="login-form">
        <p class="logo">D Tech Academy</p>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button class="login-button" [routerLink]="['/home']">Login</button>
        <hr>
        <a href="#" [routerLink]="['/home']">Forgot Password?</a>
        <hr>
        <a href="#" [routerLink]="['/home']">Sign Up</a>
    </div>
</div>
